*{
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

input[type = text]: focus, input[type = password]:focus {
  background-color: #ddd;
  outline: none;
}

#log {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.9;
  width: 100%;
}

#log:hover {
  background-color: #111;
  opacity: 0.8;
}

.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
  border: none;
}

.cancelbtn2:hover{
  background-color: #ff7557;
  opacity: 1;
}

.loginbtn{
  padding: 14px 20px;
  background-color: #0abf2e;
  border: none;
}
.loginbtn:hover{
  background-color: #68ff86;
  opacity: 1;
}
.cancelbtn2, .loginbtn{
  float: center;
  width: 20%;
}

.imgcontainer2 {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container2{
  padding: 70px;
}

#image2 {
  width: 40%;
  border-radius: 50%;
}

.container2 {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
  opacity: 3;
}

.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
  text-align: left;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close2 {
  position: absolute;
  right: 35px;
  top: 15;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 700;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

.container2::afer{
  content: "";
  clear: both;
  display: table;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn2, .loginbtn{
     width: 100%;
  }
}
